body{
   padding: 0%;
   margin: 0%;
   box-sizing: border-box;
 section#header{

   border-radius: 0px 10px;
   width: 1200px;
   background-color: #faf8ff;
    display: flex;
    
    padding: 10px 50px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
 }
}