@font-face {
  font-family: Dirooz;
  src: url(../assets/fonts/Dirooz.ttf) format("woff");
}
body {
  div#p-LS {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 220px;
height: 40px;
    border: 1px solid rgb(82, 82, 82);
    border-radius: 11px;

    a {
      font-family:Dirooz;
      div#SignUp {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #4a09f4;
        color: white;
        height: 22px;
        padding: 10px 20px;
        border-radius: 11px;
        img {
          height: 20px;
          padding-right: 10px;
        }
      }
    }



    a {
        text-decoration: none;
        font-family:Dirooz;
        div#Login {
            display: flex;
            align-items: center;
            justify-content: center;
            color: black;
            width: 100px;
          }
    }
  }
}
