@font-face {
  font-family: Dirooz;
  src: url(../assets/fonts/Dirooz.ttf) format("woff");
}
body {
  section#num1Home {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #faf8ff;
    text-align: right;
    font-family: Dirooz;
    div.R-side {
      h1 {
        font-weight: bolder;
        font-size: 40px;
      }
      h5 {
        font-size: x-large;
        font-weight: 100;
      }
    }
  }
}
